@font-face {
    font-family: "Inter";
    src: url(../fonts/Inter-Black.woff2) format("woff2"), url(../fonts/Inter-Black.woff) format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url(../fonts/Inter-Bold.woff2) format("woff2"), url(../fonts/Inter-Bold.woff) format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url(../fonts/Inter-Medium.woff2) format("woff2"), url(../fonts/Inter-Medium.woff) format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

.iti {
    width: 100%;
}

.iti input {
    width: 100%;
    padding-left: 63px!important;
}
.iti__selected-flag {
    padding: 0 6px 0 20px!important;
}
.iti__country-list{
    color: #000000;
    font-size: 14px;
    width: 320px;
    border-radius: 5px;
}

.iti__country-list::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

.iti__country-list::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 100px;
}

.iti__country-list::-webkit-scrollbar-thumb {
    background-color: #b2b2b2;
    border-radius: 100px;
}

.luckywheel {
    position: relative;
    margin: 0 auto;
    width: fit-content;
    z-index: 10;
}

.wheel {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.wheel__wrap {
    position: absolute;
    top: 49.5%;
    left: 51.2%;
    transform: translate(-50%, -50%);
}

.wheel__element {
    width: 100%;
    height: 100%;
}

.wheel__element img {
    width: 100%;
    height: 100%;
}

.wheel__active {
    position: absolute;
    right: -6%;
    top: 50%;
    transform: translateY(-50%);
    width: 78px;
}

.wheel__btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    width: 135px;
    height: auto;
    filter: drop-shadow(0px 0px 10px rgba(49, 49, 49, 0.91));
}

.wheel__info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: center center;
}

.wheel__text-block {
    display: grid;
    grid-template-areas: "layer";
    place-items: center;
    border-radius: 50%;
    --radius: 128px;
    width: calc(2 * var(--radius));
    height: calc(2 * var(--radius));
}

.wheel__text-block .wheel__text-wrap {
    position: relative;
    grid-area: layer;
    width: 120px;
    height: 10vmin;
    padding-left: 10px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    color: white;
    font-weight: bold;
    font-size: 3vmin;
    --d: calc(var(--i) / var(--total));
    --r-offset: -0.25turn;
    --r-amount: 1turn;
    --r: calc((var(--r-amount) * var(--d)) + var(--r-offset));
    --transform: rotate(var(--r)) translate(var(--radius)) rotate(0);
    transform: var(--transform);
    transition: transform 1.5s ease-in-out;
}

.wheel__text {
    font-family: "Inter";
    font-style: normal;
    font-weight: 900;
    font-size: 17px;
    color: #F5F5F5;
    text-transform: uppercase;
    transform-origin: center center;
}

.wheel__text-wrap:before {
    content: "";
    position: absolute;
    top: 50%;
    left: -45px;
    transform: translateY(-50%) rotate(-90deg);
    width: 0;
    height: 0;
    border-left: 95px solid transparent;
    border-right: 95px solid transparent;
    border-bottom: 231px solid #e39349;
    z-index: -1;
    opacity: 0;
    transition: 0.2s ease-in opacity;
}

.wheel__text-wrap.active:before {
    opacity: 1;
}

@media only screen and (max-width: 600px) {
    .wheel {
        width: 328px;
        height: 328px;
    }

    .wheel__btn {
        width: 90px;
    }

    .wheel__wrap {
        width: 370px
    }

    .wheel__active {
        width: 50px;
    }

    .wheel__text {
        font-size: 11px;
    }

    .wheel__text-block {
        --radius: 90px;
    }

    .wheel__text-block .wheel__text-wrap {
        width: 85px;
        padding-left: 5px;
    }

    .wheel__element img {
        width: auto;
    }

    .wheel__text-wrap:before {
        left: -35px;
        border-left: 65px solid transparent;
        border-right: 65px solid transparent;
        border-bottom: 170px solid #e39349;
    }
}

.loader {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    display: none;
    z-index: 100;
}

.loader.visible {
    display: flex;
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

html, body {
    position: relative;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0;
}

body {
    background-image: url(../images/bg.jpg);
    background-position: center center;
    background-size: cover;
}

#app {
    font-family: "Inter";
    text-align: center;
    color: #fff;
}

.content {
    position: relative;
    max-width: 1085px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 10px 0 10px;
}

.logo {
    max-width: 278px;
}

.title {
    margin: 15px auto 40px;
    font-size: 46px;
    font-weight: 700;
    font-style: normal;
    background: linear-gradient(0deg, #BA8B1D 0%, #DCBC59 12%, #CC9A32 24%, #D4A234 39%, #FBFFC2 54%, #FFDE83 66%, #BA8B1D 78%, #DCBC59 88%, #CC9A32 96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    text-transform: uppercase;
}

.image {
    display: none;
}

.prize {
    max-width: 100%;
    margin-top: 40px;
    padding: 24px 40px;
    background: rgba(15, 15, 21, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(12px);
    border-radius: 30px;
}

.prize__title {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 8px;
}

.prize__list {
    display: flex;
    column-gap: 80px;
    align-items: stretch;
    justify-content: space-between;
}

.prize__item {
    max-width: 172px;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
}

.footer {
    margin: 40px auto 0;
    padding: 24px 0;
    max-width: 100%;
    max-height: 100px;
    display: flex;
    justify-content: center;
}

.footer__img {
    width: 1920px;
    margin: 0 auto;
    object-fit: fill;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(15, 15, 21, 0.8);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 99;
}

.modal__head {
    position:relative;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 20px;
    font-weight: 700;
    font-size: 20px;
    line-height: 0;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    background: linear-gradient(108.87deg, #EBA05B 12.74%, #CB3D00 87.26%);
    box-sizing: border-box;
    filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.04)) drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.04)) drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.04));
}

.modal__close {
    font-weight: 100;
    font-size: 26px;
}

.modal__close:hover {
    cursor: pointer;
}

.modal__body {
    padding: 24px 0;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex: 1;
    width: 580px;
    height: 216px;
    background: linear-gradient(108.87deg, #EBA05B 12.74%, #CB3D00 87.26%);
    box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    border-radius: 20px;
    margin: 40px 0;
}

.modal__result {
    font-size: 28px;
    word-break: break-word;
}

.modal__info {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    margin-top: 10px;
}

.modal__btn {
    width: 264px;
    padding: 16px;
    background: linear-gradient(90deg, #D04A4A 0%, #9F093F 100%);
    border-radius: 100px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    border: none;
    box-shadow: none;
    outline: none;
}

.modal-wrap {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    background: #FBDDE0;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2), 0px 4px 20px rgba(0, 0, 0, 0.5);
    border-radius: 24px;
    max-width: 800px;
    width: 100%;
    min-height: 300px;
    color: #fff;
    font-weight: 700;
    font-family: "Inter";
}

@media (max-height: 900px) and (min-width: 600px) {
    .logo {
        max-width: 220px;
    }
    .logo img{
        width: 100%;
    }
    .title {
        font-size: 32px;
    }
    .luckywheel {
        margin-bottom: 120px;
    }
    .footer{
        padding: 0;
    }
    .footer img{
        scale: 0.7;
    }
}

@media only screen and (max-width: 600px) {
    body {
        background-image: url(../images/bg-small.png);
        background-position: center -30px;
    }

    .logo img {
        width: 151px;
    }

    .title {
        margin-bottom: 100px;
        font-size: 32px;
    }

    .prize {
        margin-bottom: 270px;
    }

    .prize__list {
        column-gap: 18px;
    }

    .prize__item {
        width: 95px;
    }

    .prize__item img {
        width: 100%;
    }

    .prize__title {
        font-size: 16px;
    }

    .prize__name {
        font-size: 12px;
    }

    .modal {
        background-color: transparent;
    }

    .modal-wrap {
        margin: 0;
    }

    .modal-content {
        width: 100%;
        height: 100%;
        border-radius: 0;
    }

    .modal__head {
        font-size: 20px;
        border-radius: 0;
    }

    .modal__head:after {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .modal__body {
        width: 90%;
        flex: 0;
    }

    #final-modal .modal__body {
        height: 437px;
    }

    .modal__info {
        padding: 0 10%;
    }

    .footer {
        padding: 12px 0;
    }

    .footer__img {
        width: 1200px;
    }
}

@media (max-height: 800px) and (max-width: 415px) {
    .title {
        font-size: 22px;
    }
    body{
        background-position: 0 -60px;
    }
}

@media (max-height: 700px) and (max-width: 400px) {
    .title {
        font-size: 22px;
    }
    body{
        background-position: 0 -60px;
    }
}

#formRegistration {
    width: 320px;
    display: flex;
    flex-direction: column;
    row-gap: 28px;
    align-items: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    row-gap: 4px;
    width: 100%;
    text-align: start;
}

.form-control {
    width: 100%;
    padding: 12px 10px 12px 50px;
    border: none;
    color: #000000;
    box-sizing: border-box;
    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 0px 1px rgba(0, 0, 0, 0.04);
    border-radius: 100px;
}

.label {
    color: #8F90A6;
    font-size: 12px;
    font-weight: 500;
}

.form-element {
    width: 100%;
    position: relative;
}

.form-element_phone {
    display: flex;
}

.form-element_phone .form-control {
    padding: 12px 10px;
}

.form-element_phone .form-control_not-editable {
    width: 58px;
    pointer-events: none;
    border-radius: 50px 0 0 50px;
}

.form-control__phone {
    border-radius: 0 50px 50px 0;
}

.icon-input {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
}

.icon-show-pass {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    cursor: pointer;
}

.flex {
    display: flex;
}

#app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}
.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.placeholder {
    margin-top: -20px;
}

@media (max-height: 700px) and (max-width: 600px) {
    .placeholder {
        display: none;
    }
    .footer  {
        margin: 10px auto 0;
    }
}

/*# sourceMappingURL=style.css.map */
