a,
abbr,
acronym,
address,
applet,
b,
big,
blockquote,
body,
caption,
center,
cite,
code,
dd,
del,
dfn,
div,
dl,
dt,
em,
fieldset,
font,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
object,
ol,
p,
pre,
q,
s,
samp,
small,
span,
strong,
sub,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
tr,
tt,
u,
ul,
var {
  vertical-align: baseline;
  background: transparent none repeat scroll 0 0;
  text-indent: 0;
  font-size: 100%;
  text-decoration: none;
  outline: 0;
  border: 0;
  margin: 0;
  padding: 0;
}
a,
abbr,
acronym,
address,
applet,
b,
big,
blockquote,
body,
caption,
cite,
code,
dd,
del,
dfn,
div,
dl,
dt,
em,
fieldset,
font,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
object,
ol,
p,
pre,
q,
s,
samp,
small,
span,
strong,
sub,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
tr,
tt,
u,
ul,
var {
}
body {
  background-color: #c380ac;
  font: 16px sans-serif;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
img {
  vertical-align: middle;
}
blockquote::after,
blockquote::before,
q::after,
q::before {
  content: none;
}
q::after {
  content: "Â»";
}
q::before {
  content: "Â«";
}
q q::after {
  content: "â€œ";
}
q q::before {
  content: "â€ž";
}
ul li {
  display: block;
  font-size: 18px;
}
.pl {
  padding-left: 100px;
  font: 11px sans-serif, sans-serif;
  padding-top: 5px;
}
.comment {
  padding-left: 0 !important;
}
nav li,
nav ul {
  margin: 0;
}
.red-txt {
  color: red;
}
h2 {
  font-size: 123.1%;
}
h1,
h2,
h3 {
  margin: 1em 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-weight: 700;
}
em {
  font-style: italic;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}
sup {
  top: -0.5em;
}
button,
input,
select {
  overflow: visible;
  vertical-align: middle;
}
:focus {
  outline: 0;
}
button::-moz-focus-inner {
  border: 0;
}
input::-moz-focus-inner {
  border: 0;
}
button,
input,
select,
textarea {
  margin: 0;
}
body {
  font: 16px sans-serif, sans-serif;
  color: #555;
  background: #c380ac no-repeat scroll 50% -90px;
}
body a {
  color: #00f;
}
input,
select,
textarea {
  font: 16px sans-serif, sans-serif;
}
h1 {
  font-weight: 700;
  font-size: 22px;
  line-height: 24px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}
h2,
h3,
h4,
h5,
h6 {
  font-family: sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  color: #555;
  text-transform: uppercase;
}
h2 {
  font-size: 22px;
  line-height: 24px;
}
h4 {
  min-height: 22px;
  margin-bottom: 15px;
  font-size: 20px;
  line-height: 25px;
  position: relative;
}
h4 span {
  margin-bottom: -5px;
}
h4 a.icon {
  display: inline-block;
  width: auto;
  cursor: default;
}
h4.line a.icon {
  padding-right: 15px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}
h4.line p.line {
  display: block;
  height: 1px !important;
  border-bottom-width: 0;
  border-bottom-style: none;
  position: absolute;
  left: 0;
  top: 50%;
  margin: 0;
  padding: 0;
  font-size: 1px;
  line-height: 1px;
}
h4.line p.line_wide {
  width: 666px;
}
h4.left_right span.subtitle::before {
  display: inline-block;
  content: "/";
  margin: 0 5px;
}
#container {
  width: 1020px;
  margin: 0 auto 10px;
  position: relative;
}
#container div.wrapper {
  overflow: hidden;
}
#promo {
  position: relative;
  border-radius: 4px;
  background-clip: padding-box;
}
#promo.thin {
  height: 200px;
  position: relative;
  border-radius: 4px 4px 0 0;
}
#promo.thin div.wrap {
  height: 100px;
  border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -ms-border-radius: 4px 4px 0 0;
  -o-border-radius: 4px 4px 0 0;
  position: relative;
  top: -58px;
}
#promo nav {
  height: 40px;
  position: absolute;
  top: 61px;
  right: 0;
  z-index: 10;
  padding: 0 26px 0 13px;
  background: transparent linear-gradient(#ebebeb, #c4c4c4) repeat scroll 0 0;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #7c868e;
}
#promo nav ul.menu {
  float: left;
}
#promo nav ul.menu li {
  float: left;
}
#promo nav ul.menu li a {
  display: block;
  width: auto;
  padding: 0 8px;
  color: #333;
  text-shadow: 0 1px 0 #eee;
  font-size: 14px;
  line-height: 44px;
  font-family: sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
}
#promo nav ul.menu li a:hover {
  color: #a81c1a;
}
#promo nav ul.menu li a sup {
  color: #a81c1a;
}
#promo div.search {
  width: 165px;
  height: 22px;
  border-radius: 5px;
  background-clip: padding-box;
  padding: 5px 0;
  margin-left: 13px;
  border-bottom: 1px solid #fff;
  position: relative;
  float: right;
}
#promo div.search input {
  width: 115px;
  height: 21px;
  padding: 3px 33px 3px 15px;
  border: 1px solid #cfd0d2;
  background: transparent linear-gradient(#fefefe, #dedede) repeat scroll 0 0
    padding-box;
  border-radius: 5px;
  font-size: 10px;
  line-height: 20px;
  font-family: sans-serif;
  text-transform: uppercase;
  position: relative;
  top: -10px;
}
#promo div.search input:focus {
  background-color: #fefefe;
}
#promo div.search a.go {
  width: 16px;
  height: 16px;
  display: block;
  position: absolute;
  top: 12px;
  right: 9px;
}
#main {
  overflow: hidden;
  padding: 23px;
}
#main div.content {
  vertical-align: top;
  float: left;
  width: 720px;
}
#main aside {
  vertical-align: top;
  float: right;
  width: 240px;
  margin-left: 20px;
}
p.alt {
  position: absolute;
  transform: rotate(-90deg);
  text-transform: lowercase;
  font-size: 11px;
}
footer {
  background-color: #ededed;
  overflow: hidden;
}
footer div.wrap {
  padding: 0 23px;
}
footer div.wrapper {
  padding-bottom: 20px;
}
footer div.bottom_menu {
  background: transparent linear-gradient(#ebebeb, #c4c4c4) repeat scroll 0 0;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #7c868e;
  width: 100%;
  height: 40px;
  position: relative;
  margin-bottom: 40px;
}
footer div.bottom_menu ul {
  margin-left: 0;
}
footer div.bottom_menu ul li {
  display: inline-block;
  vertical-align: top;
  margin-left: -0.36em;
}
footer div.bottom_menu ul li:first-child {
  margin-left: 0;
}
footer div.bottom_menu ul li a {
  display: block;
  width: auto;
  padding: 0 26px;
  text-align: center;
  color: #333;
  text-shadow: 0 1px 0 #eee;
  font-size: 14px;
  line-height: 44px;
  font-family: sans-serif;
}
footer div.bottom_menu ul li a:hover {
  color: #a81c1a;
}
footer div.bottom_menu ul li a sup {
  color: #a81c1a;
}
footer div.bottom_menu ul li.border a {
  padding-right: 28px;
  font-weight: 700;
}
footer div.bottom_menu ul.content a:hover {
  color: #a81c1a;
}
footer div.copy {
  color: #87898b;
  font-size: 11px;
  line-height: 13px;
  /* margin-right: 100px; */
}
footer div.counters {
  float: right;
  width: 100px;
}
ul.b-pvideo-external_btns {
  margin-left: 0;
  float: right;
}
ul.b-pvideo-external_btns li {
  display: inline-block;
  vertical-align: top;
  margin-left: -0.36em;
  font-size: 18px;
}
ul.b-pvideo-external_btns li:first-child {
  margin-left: 0;
}
ul.b-pvideo-external_btns li {
  width: 100px;
  height: 48px;
  background-repeat: no-repeat;
  margin-right: 20px;
}
ul.b-pvideo-external_btns li.archive {
  background-position: 0 0;
}
ul.b-pvideo-external_btns li.stars {
  background-position: 0 -50px;
}
ul.b-pvideo-external_btns li a {
  display: block;
  height: 38px;
  padding: 10px 0 0 55px;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 15px;
}
p {
  font-size: 18px;
  line-height: 1.2;
}
.b-share-wrap .b-share-counter::after {
  display: block;
  content: "";
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
  height: 0;
  position: absolute;
  right: 17px;
  width: 0;
  top: 23px;
}
div.search {
  position: relative;
}
body.theme_light .icon-brand-about {
  display: inline-block;
  width: 25px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: -26px -576px;
}
h4.theme a.icon {
  background-color: #fff !important;
}
body.theme_light h4.theme span.title {
  color: #555;
  position: relative;
  display: inline-block;
  max-width: 420px !important;
}
body.theme_light h4.theme p.line {
  background-color: #999;
  border-bottom-color: #fff;
}
body.theme_light #main {
  background-color: #fff;
  position: relative;
  /* margin-top: 115px; */
}
body.theme_light h4.theme span.title {
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.4);
}
#adv_right {
  margin: 20px 0;
  position: relative;
  min-height: 200px;
}
#adv_right p.alt {
  top: 14px;
  left: -45px;
}
#adv_top {
  margin: 0 auto;
  position: relative;
}
div.page-brand-article-item {
  background-color: #fff;
}
div.page-brand-article-item div.inner_content {
  font-size: 14px;
  line-height: 19px;
  padding: 0 20px 10px 0;
}
div.page-brand-article-item div.inner_content div,
div.page-brand-article-item div.inner_content p {
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 1.2;
}
div.page-brand-article-item div.inner_content a {
  text-decoration: underline;
  font-weight: 400;
}
div.page-brand-article-item div.inner_content h1.theme {
  margin-bottom: 20px;
  margin-top: 20px;
}
div.page-brand-article-item div.inner_content h2.theme {
  margin-bottom: 20px;
  color: #555 !important;
}
div.clear {
  clear: both;
  height: 1px;
}
.tvp-main .b-news-slider h1::after {
  content: "";
  background: #ccc none repeat scroll 0 0;
  display: block;
  float: right;
  margin-top: 12px;
  max-width: 1000px;
}
.tvp-main .b-news-slider h2::after {
  content: "";
  background: #ccc none repeat scroll 0 0;
  display: block;
  float: right;
  margin-top: 12px;
  max-width: 1000px;
}
div.page-brand-article-item div.inner_content {
  padding-top: 30px;
}
.b-share-popup,
x:nth-child(1) {
  border: 0;
  padding: 1px !important;
}
body {
  background-position: 50% 0;
}
#adv_top {
  margin-top: 15px;
}
.item {
  height: 1%;
  margin-bottom: 15px;
  overflow: hidden;
}
.photo {
  float: left;
}
#container .photo img {
  border-radius: 15px;
  display: block;
  width: 50px;
}
.area {
  margin-left: 55px;
}
.name {
  background: #fafafa none repeat scroll 0 0;
  border: 1px solid #b4b4b4;
  padding: 0 11px;
}
.name span {
  color: #b90000;
  display: block;
  line-height: 20px;
}
.item .time {
  color: #aaa;
  float: right;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  padding: 0 0 0 20px;
}
.name span em {
  color: #9e9494;
  font-size: 12px;
}
.comment {
  background: transparent none repeat scroll 0 0;
  border-color: #b4b4b4;
  border-style: solid;
  border-width: 0 1px 1px;
  padding: 5px 0 6px 11px;
}
.comment p {
  font-size: 12px;
  margin: 0;
  padding: 5px;
}
.page_navigation {
  margin: 10px 0 15px;
  text-align: center;
}
#paging_container .item,
#paging_container .name {
  margin-bottom: 0;
}
div.hr {
  background-color: #ccc;
  height: 2px;
}
.comment-container h4 {
  color: #454343;
  font-weight: 400;
  margin: 5px 0 2px;
  padding: 0;
  font-family: sans-serif;
  line-height: 1.5;
  font-size: 16px;
}
.comment-container h1,
.comment-container h2,
.comment-container h3,
.comment-container h4,
.comment-container h5,
.comment-container h6 {
  text-transform: none;
}
#container img {
  width: auto;
  height: auto;
  max-width: 100%;
}
.comment p {
  margin-bottom: 0 !important;
}
div#main {
  padding-bottom: 0;
}
.center {
  font-size: 16px;
  padding-bottom: 22px;
}
.center a:link,
.center a:visited {
  color: #00f;
  font-size: 14px;
  text-decoration: underline;
}
.name {
  padding: 0 5px;
}
@media screen and (max-width: 1019px) {
  .inner_content {
    padding: 0 0 10px !important;
  }
  #promo.thin {
    height: 286px;
  }
  #promo.thin div.wrap {
    top: -165px;
  }
  /* body.theme_light #main {
    top: -43px;
    margin-top: -70px;
  } */
  #container {
    width: 712px;
    max-width: 712px;
  }
  #main div.content {
    float: none;
    width: 100%;
  }
  #main aside {
    display: none;
  }
  #li-1,
  #li-4,
  #li-6 {
    display: none;
  }
  #promo.thin {
    background: transparent none repeat scroll 0 0;
  }
  .comment p {
    line-height: 17px;
  }
  #promo nav {
    top: 91px;
  }
}
/* @media screen and (max-width: 711px) {
  body.theme_light #main {
    top: -30px;
  } */
  #promo.thin {
    height: 260px;
  }
  #promo nav {
    top: 78px;
  }
  #container {
    width: 640px;
    max-width: 640px;
  }
  #main div.content {
    width: 620px;
    max-width: 620px;
  }
  h4.line p.line_wide {
    width: 620px;
    max-width: 620px;
  }
  #main div.content {
    float: none;
  }
  #main aside {
    display: none;
  }
  #li-1,
  #li-4,
  #li-6 {
    display: none;
  }
  #main {
    padding: 10px;
  }
  div.page-brand-article-item div.inner_content {
    padding: 0 5px;
  }
  #li-16 {
    display: none;
  }
  .content {
    padding-top: 0;
  }
  ul.content {
    width: 587px;
    margin: 0 auto !important;
    display: block;
    left: auto;
    right: auto;
    position: relative;
  }
  .imgcenter {
    display: block;
    margin: 20px auto !important;
    padding: 0 !important;
    background-color: #fff;
    border: medium !important;
  }
}
@media screen and (max-width: 639px) {
  .form-frame {
    flex-direction: column !important;
    align-items: center;
    justify-content: center;
  }
  #container img {
    display: block;
    margin: 0 auto 15px;
  }
  #sert {
    max-width: none !important;
  }
  /* body.theme_light #main {
    top: -13px;
  } */
  #promo.thin {
    height: 205px;
  }
  #promo nav {
    top: 40px;
  }
  #container {
    width: 480px;
    max-width: 480px;
  }
  #main div.content {
    width: 460px;
    max-width: 460px;
  }
  h4.line p.line_wide {
    width: 460px;
    max-width: 460px;
  }
  #main div.content {
    float: none;
  }
  #main aside {
    display: none;
  }
  #li-1,
  #li-2,
  #li-3,
  #li-4,
  #li-5,
  #li-6 {
    display: none;
  }
  #main {
    padding: 10px;
  }
  div.page-brand-article-item div.inner_content {
    padding: 0 5px;
  }
  #li-15,
  #li-16 {
    display: none;
  }
  ul.content {
    width: 473px;
    margin: 0 auto !important;
    display: block;
    left: auto;
    right: auto;
    position: relative;
  }
}
@media screen and (max-width: 479px) {
  .headerphoto {
    background: url(../-241);
    background-size: 100% 60%;
    background-position: top center;
    background-repeat: no-repeat;
  }
  body.theme_light #main {
    /* top: -20px; */
  }
  #promo nav {
    top: 33px;
  }
  .headerphoto img {
    display: none !important;
  }
  #container .photo img {
    width: 50px;
  }
  .area {
    margin-left: 55px;
  }
  #container {
    width: 100%;
  }
  #main div.content {
    width: 100%;
    display: block;
    margin: 0 auto;
  }
  .lp-text {
    text-align: center !important;
  }
  h4.line p.line_wide {
    width: 300px;
    max-width: 300px;
  }
  #main div.content {
    float: none;
  }
  #main aside {
    display: none;
  }
  #li-1,
  #li-2,
  #li-3,
  #li-4,
  #li-5,
  #li-6 {
    display: none;
  }
  #main {
    padding: 10px;
  }
  div.page-brand-article-item div.inner_content {
    padding: 0 5px;
  }
  #li-11,
  #li-15,
  #li-16 {
    display: none;
  }
  #container p {
    text-align: justify;
  }
  footer div.bottom_menu ul li.border a {
    padding-right: 20px;
  }
  #promo div.search {
    margin-left: 0;
  }
  h4 {
    font-size: 16px;
  }
  h4 span {
    margin-bottom: -10px;
  }
  h1 {
    font-size: 19px;
  }
  h2 {
    font-size: 19px;
  }
  #container p {
    text-align: left;
  }
  #container p.action-valid,
  #container p.px15,
  #container p.px18,
  #container p.px25 {
    text-align: center;
  }
  ul.content {
    width: 300px;
    margin: 0 auto !important;
    display: block;
    left: auto;
    right: auto;
    position: relative;
  }
}
@media screen and (max-width: 385px) {
  .headerphoto {
    background-size: 125% 56%;
    background-position: top left;
  }
}
.theme {
  text-transform: none;
}
.imgcenter {
  display: block;
  margin: 0 auto;
  padding: 3px;
  background-color: #fff;
  border: 1px solid #ccc;
}
.imgtext {
  text-align: center;
  display: block;
  width: 85%;
  border-left: 2px solid #999;
  border-right: 2px solid #999;
  padding: 2px 10px;
  margin: 5px auto;
  background-color: #f6f6f6;
}
#promo.thin div.headerphoto {
  height: 205px;
  position: relative;
}
.container {
  display: block;
  margin: 0 auto;
  width: 800px;
}
.coolform-4 {
  font-family: sans-serif;
  text-align: center;
  border: 4px solid red;
  padding: 10px;
}
.coolform-4 h2 {
  font-weight: 400;
  margin: 10px 0;
  font-size: 22px;
  text-align: center;
}
.coolform-4 p {
  font-size: 14px;
  text-align: center;
}
.coolform-4 .content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 30px 0;
  text-align: center;
}
.coolform-4 .certf {
  width: 45%;
  height: auto;
}
.coolform-4 .certf img {
  width: 100%;
}
.coolform-4 .form-wrap {
  width: 50%;
  position: relative;
  background-color: #f4f4f4;
  border-radius: 8px;
  border: 1px solid #d4d4d4;
  margin-top: 20px;
}
.coolform-4 .action-valid {
  background-color: #80b91d;
  color: #fff;
  line-height: 20px;
  text-align: center;
  font-size: 20px;
  border-radius: 8px 8px 0 0;
  margin: 0;
  margin-bottom: 20px;
  padding: 10px 5px;
}
.coolform-4 .lp-text {
  padding: 18px 0 0;
  font-size: 18px;
  text-align: center;
}
.coolform-4 .left-pack {
  font-size: 25px;
  background: #ef1650 none repeat scroll 0 0;
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  vertical-align: middle;
  font-weight: 700;
  border-radius: 5px;
  color: #fff;
  margin: 0 8px;
}
.coolform-4 input {
  display: block;
  width: 90%;
  height: 50px;
  line-height: 50px;
  margin: 10px auto !important;
  border: 1px solid #000;
  border-radius: 6px;
  outline: medium;
  text-indent: 80px;
  color: #252525;
  font-size: 20px;
  box-sizing: content-box;
  transition: all 0.3s ease 0s;
  -webkit-appearance: none;
}
.coolform-4 input.name-black {
  background: #fff url(../_1-241)
    no-repeat scroll 30px 50%;
}
.coolform-4 input.phone-black {
  background: #fff url(../_2-241)
    no-repeat scroll 28px 50%;
}
.coolform-4 .event_order {
  opacity: 0.88;
  position: relative;
  -webkit-appearance: none;
  display: block;
  text-indent: 0;
  background: #71b100 none repeat scroll 0 0;
  outline: medium;
  border-width: medium medium 5px;
  font-size: 20px;
  border-style: none none solid;
  border-color: currentcolor currentcolor #548300;
  -moz-border-top-colors: none;
  -moz-border-right-colors: none;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  border-image: none;
  width: 90%;
  height: 70px;
  line-height: 70px;
  margin-top: 15px !important;
  border-radius: 8px;
  font-weight: 700 !important;
  text-transform: uppercase !important;
  text-align: center;
  color: #fff;
  cursor: pointer;
  margin: 0 auto;
}
.coolform-4 .px15 {
  font-size: 15px;
  text-align: center;
}
.coolform-4 .px18 {
  font-size: 18px;
  text-align: center;
}
.coolform-4 .px25 {
  font-size: 25px;
  text-align: center;
}
.coolform-4 .action-text {
  color: #ef1650;
}
@media screen and (max-width: 425px) {
  .coolform-4 .content {
    flex-direction: column;
  }
  .coolform-4 .certf,
  .coolform-4 .form-wrap {
    width: 100%;
  }
}
.coolform-5 {
  padding: 10px;
  border: #d9d9d9 1px solid;
  margin-bottom: 30px;
}
.coolform-5 textarea {
  display: block;
  width: 100%;
  height: 75px;
  min-height: 75px;
  resize: none;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 0;
  font-size: 14px;
  color: #777;
  line-height: 20px;
  border: #d9d9d9 1px solid;
  margin-bottom: 10px;
}
.coolform-5 .form-input {
  display: none;
  width: 100%;
  box-sizing: border-box;
  padding: 0;
}
.coolform-5 .form-input .form-left,
.coolform-5 .form-input .form-right {
  width: 49.5%;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
}
.coolform-5 .form-input .form-left input {
  width: 80%;
  display: block;
  height: 32px;
  border: #d9d9d9 1px solid;
  margin-bottom: 10px;
  font-size: 14px;
  padding-left: 35px;
}
.coolform-5 .form-input .form-right {
  display: inline-flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.coolform-5 .form-input .form-right input {
  width: 45%;
  height: 32px;
  border: #d9d9d9 1px solid;
  margin-bottom: 10px;
  font-size: 14px;
  padding-left: 10px;
}
.coolform-5 .form-input .form-right .img-captcha {
  height: 37px;
  width: 141px;
}
.coolform-5 .form-input .form-right .error-captcha {
  display: none;
  color: red;
}
.coolform-5 .form-input .form-right a.button {
  vertical-align: bottom;
  border-radius: 0;
  font-family: sans-serif;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1em;
  padding: 8px 20px;
  margin: 0;
  box-shadow: none;
  text-transform: none;
  font-size: 14px;
  border: 1px solid #555;
  color: #fff;
  background-color: #555;
  cursor: pointer;
}
.coolform-5 .form-input .form-right a.button:hover {
  border: 1px solid #333;
  background-color: #333;
}
.coolform-5 .done {
  display: none;
  text-align: center;
  padding: 10px;
  font-size: 16px;
  font-weight: 700;
  color: #d4994d;
  background: #fce6bf;
  border: 1px solid #d4994d;
}
.paging {
  text-align: center;
  margin: 0 auto;
  padding: 0;
  display: block;
  max-width: 300px;
  clear: both;
  height: 40px;
}
.paging li {
  float: left;
  line-height: 16px;
  margin-right: 6px;
  font-size: 14px;
}
.paging a {
  float: left;
  color: #088626;
  text-decoration: underline;
}
.paging a:hover {
  text-decoration: none;
}
.paging .next a,
.paging .prev a {
  width: 22px;
  height: 22px;
  text-indent: -9999em;
  overflow: hidden;
}
.paging .active a {
  color: #b5b2aa;
  text-decoration: none;
}
.coolform input.comment-name-email {
  width: 35%;
  height: 23px;
  font-size: 13px;
  font-family: sans-serif;
  padding: 7px 10px;
  border-radius: 5px;
  border: 1px solid #f1f1f1;
}
.comment-form {
  background: none repeat scroll 0 0 #f5f5f5;
  padding: 15px;
  border-radius: 8px;
}
.coolform textarea#comment {
  width: 95%;
}
.coolform textarea.comment-textarea {
  width: 95%;
  height: 110px;
  font-size: 13px;
  font-family: sans-serif;
  padding: 7px 10px;
  border-radius: 5px;
  border: 1px solid #f1f1f1;
}
.coolform textarea.comment-textarea:focus {
  outline: medium !important;
}
.styled-outline {
  outline: 0 !important;
  border: 1px solid #ccc !important;
  border-radius: 6px !important;
  transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s !important;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset !important;
}
.styled-outline:focus {
  outline: 0 !important;
  border-color: rgba(79, 190, 226, 0.8) !important;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset,
    0 0 6px rgba(79, 190, 226, 0.6) !important;
}
.coolform a {
  background: linear-gradient(to bottom, #fff 0, #e5e5e5 100%) repeat scroll 0 0
    transparent;
  border: 1px solid #c7c7c7;
  height: 36px;
  width: 184px;
  cursor: pointer;
  box-shadow: 0 1px 1px #fff inset, 0 1px 0 #fff;
  border-radius: 5px;
  color: #707070;
  text-shadow: 1px 1px 0 #fff;
  font-size: 12px;
  padding: 10px 25px;
  text-decoration: none;
}
.coolform a:hover {
  box-shadow: 0 1px 1px #ddd inset;
  background: none repeat scroll 0 0 #e9e9e9;
}
.form-bg-sec {
  border: 3px dashed #4171ca;
  border-radius: 20px;
  background: rgba(65, 113, 202, 0.2);
  width: 60%;
  min-width: 250px;
  height: auto;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}
.form-bg-sec .form-img {
  width: 250px;
  margin-top: 30px;
}
.form-bg-sec form button,
.form-bg-sec form input,
.form-bg-sec form select {
  display: block;
  margin: 15px auto;
  text-align: left;
  width: 60%;
  min-width: 220px;
  font-size: 16px;
  padding: 10px 5px;
  border: 2px solid #debfb5;
  border-radius: 20px;
  outline: 0;
  background: #f1e8e5;
}
.form-bg-sec form input:focus {
  background: #fff;
}
.form-bg-sec form button.button {
  padding: 7px 5px;
  text-align: center;
  border-radius: 20px;
  color: #fff;
  background: rgba(195, 128, 172, 0.8);
  font-size: 20px;
  border: 3px solid #debfb5;
  cursor: pointer;
}
.form-bg-sec form button:hover {
  padding: 7px 5px;
  color: #ece3e3;
  background: #c380ac;
  box-shadow: 0 3px 4px 2px #aaa;
}
.form-bg-sec form button:active {
  box-shadow: none;
  background: #ef6338;
  border: 3px solid #b1adad;
  box-shadow: 0 4px 4px 0 #424242;
}
h2.form-title {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.4em;
  line-height: 1.2;
}
@media only screen and (max-width: 905px) {
  .m-img {
    width: 98% !important;
  }
}
@media only screen and (max-width: 425px) {
  .event_order {
    font-size: 16px !important;
  }
  .form-bg-sec .form-img {
    width: 60%;
  }
  .form-bg-sec form button.button {
    font-size: 17px;
  }
  h2.form-title {
    font-size: 1em;
    line-height: 1.4;
  }
  footer div.bottom_menu ul li.border a {
    padding-right: 9px !important;
  }
  div.page-brand-article-item div.inner_content div,
  div.page-brand-article-item div.inner_content p {
    margin-bottom: 10px;
  }
}
.title-art {
  font-weight: 700;
  font-size: 22px !important;
}
.inner_content ul {
  list-style-type: initial !important;
  line-height: 1.2;
  margin-bottom: 20px;
}
.imp-block {
  border: 2px red solid;
  background: #d9ead3;
  padding: 10px;
}
.big-txt {
  font-size: 120% !important;
}
.txt-center {
  text-align: center;
}
.list2-block {
  margin-bottom: 20px !important;
  background: #cdf15d8a;
  padding: 10px;
}
.list2-block li {
  list-style: disc;
  margin-left: 25px;
  font-size: 18px;
  margin-bottom: 10px;
}
.order_block {
  text-align: center;
}
.time_remains {
  font-weight: 600;
}
.price-bl,
.price-bl * {
  font-size: 22px;
}
.price-bl b {
  padding-left: 16px;
  color: red;
}
.order_block .input-roulette {
  text-indent: 0;
  font-size: 18px;
  padding: 0 10px;
  width: 100%;
  max-width: 320px;
  box-sizing: border-box;
}
.order_block button {
  width: 100%;
  max-width: 320px;
  border: 0;
  background: red;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  color: #fff;
  font-weight: 600;
  font-size: 22px;
  height: 50px;
  cursor: pointer;
}
li .content-block img {
  width: 80% !important;
  max-width: 350px !important;
  display: block;
  margin: 10px 0 0 !important;
}
li .content-block {
  margin-left: 70px;
}
#first-comment {
  display: none;
}
.msg-card > div.tstmp {
  display: none;
}
.printing {
  font-size: 15px;
}
