body{
	background-color: #fff;
	/*background-image: url(d1fae387151fc0d6d139eea1e70a1cd6/css/9fdaa3006678e920e529fae23bcfd0f0.png);*/
}
a{
	color: #ef3829;
	text-decoration: none;
}

h1,
h2,
h3,
h4 {
	font-family: 'Roboto', sans-serif;
}
.wrapper{
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
	font-family: 'Cabin', sans-serif;
}
/*********** FOX NEWS************/


body.home * {
    box-sizing: border-box;
}

#top.fn .int .search input[type=text] {
    -moz-transition: all .2s linear;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
    border: 0;
}
#wrapper.alt #top.fn.expand, #wrapper.alt #top.fn.expand-alt {
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
#top.fn .logo, #top.fn .search a, #top.fn .social li a, #top.fn .trending li, .advert .ad-txt {
    /*background: url(d1fae387151fc0d6d139eea1e70a1cd6/css/e5d8f8f2f09f189ea43da11dfbd370c1.png) no-repeat;*/
}
#top.fn {
    /*padding: 16px 0 10px;*/
    /*border-bottom: 4px solid #b00;*/
    /*position: relative;*/

    background-color: #3c3c3c;
    background: -webkit-gradient(linear,left top,left bottom,from(#4d4d4d),to(#3c3c3c));
    background: -moz-linear-gradient(top,#4d4d4d,#3c3c3c);
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4d4d4d',endColorstr='#3c3c3c');

}
#top.fn>div {
       width: 90%;
    max-width: 1170px;
    margin: 0 auto;
    /*padding: 10px;*/
}
#top.fn .logo {
    width: 192px;
		display: none;
    height: 50px;
    margin: 0 26px 0 0;
    /*display: block;*/
    float: left;
    /*text-indent: -9999px;*/
}
#top.fn .logo img {
	width: 50%;
}
#top.fn .trending {
    width: 428px;
    margin: 10px 26px 0 0;
    float: left;
    font-size: 0;
		display: none;
    vertical-align: top;
}
#top.fn .trending h2 {
    margin: 0 12px 0 0;
    display: inline-block;
    color: #6b8da3;
    font-size: 12px;
    text-transform: uppercase;
}
#top.fn .trending li, #top.fn .trending ul {
    display: inline-block;
    vertical-align: top;
}
#top.fn .trending li {
    padding: 0 0 0 20px;
    background-position: 8px -158px;
}
#top.fn .trending li:first-child {
    padding: 0;
    background: 0 0;
}
#top.fn .trending li a {
    color: #fff;
    font-weight: 700;
}
#top.fn .social li {
    margin: 0 0 0 2px;
    display: inline-block;
    vertical-align: top;
}

#top.fn .trending li a:hover {
    text-decoration: underline;
}
#top.fn .int {
    position: relative;
    float: right;
		display: none;
}
#top.fn .search {
    display: inline-block;
    position: relative;
    right: 0;
    vertical-align: top;
}
#top.fn .search fieldset {
    font-size: 0;
}
#top.fn .search a {
    width: 40px;
    height: 40px;
    display: inline-block;
    position: relative;
    right: 114px;
    background-color: #092539;
    background-position: -95px -65px;
    text-indent: -9999px;
    vertical-align: top;
}
#top.fn .search input[type=text] {
    width: 0;
    height: 40px;
    padding: 0 16px;
    opacity: 0;
    color: #222;
    font-size: 16px;
}
#top.fn .search input[type=text]:focus {
    outline: 0;
}
#top.fn .search.active {
    z-index: 10;
}
#top.fn .search.active a {
    right: 0;
}
#top.fn .search.active input[type=text] {
    width: 260px;
    opacity: 1;
}
#top.fn .social {
	display: none;
    width: 124px;
    margin: 0 0 0 26px;
   float: right;
    top: 0;
    right: 0;

}

address, article, aside, audio, blockquote, body, br, canvas, caption, dd, details, div, dl, dt, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, hr, iframe, li, mark, menu, nav, ol, p, section, summary, table, td, th, time, ul, video {
    margin: 0;
    padding: 0;
    background: 0 0;
    font-size: 100%;
}
#menu li:first-child, #top.fn .social li:first-child {
    margin: 0;
}
#top.fn .social li a {
    width: 37px;
    height: 37px;
    display: block;
    text-indent: -9999px;
}
#top.fn .social li.fbk a {
    background-color: #3b5998;
    background-position: -126px -67px;
}
#top.fn .social li.twt a {
    background-color: #4099ff;
    background-position: -95px -100px;
}
#top.fn .social li.gplus a {
    background-color: #d34836;
    background-position: -129px -101px;
}
#menu {
    /*padding: 10px 0 0;*/
    clear: both;
}
#menu li {
    /*margin: 0 0 0 15px;*/
		margin: 0;
    padding: 16px;
    display: inline-block;
    vertical-align: middle;
    color: white;
        font-weight: 700;
    font-size: 18px;
		border-right: 1px solid #555;
		font: bold 18px/21px Georgia,sans-serif;
}
#menu li:first-child{
	padding: 12px 16px;
}
#menu li:hover {
    -moz-box-shadow: inset 3px 3px 7px #1f262e;
    -webkit-box-shadow: inset 3px 3px 7px #1f262e;
    box-shadow: inset 3px 3px 7px #1f262e;
    background-color: #1f262e;
    background: -webkit-gradient(linear,left top,left bottom,from(#1f262e),to(#36404e));
    background: -moz-linear-gradient(top,#1f262e,#36404e);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1f262e',endColorstr='#36404e');
		cursor: pointer;
}
#menu li img {
	width: 100px;
}
#menu li a {
    padding: 8px 10px;
    color: #fff;
    font-weight: 700;
    font-size: 13px;
}
#menu li a:hover, #menu li.active a {
    background: #425e71;
    text-decoration: none;
}
/*********** Content ************************/
.prod-img{
	margin: 10px auto !important;
    width: auto !important;
	display: block !important;
}

.forbesauthor{
    float:left !important;
    background-image: auto !important;
    width: 55% !important;
    height: 55% !important;
}

.inl {
	display: inline-block;
	vertical-align: top;
	* display: inline;
	zoom: 1;
}

.wrapper .main_container .content{
	display: inline-block;
	vertical-align: top;
	*display: inline;
	zoom: 1;
	width: 64%;
	min-height: 100px;
	padding: 0px 20px;
}
.wrapper .main_container .content h1{
	color: #333333;
	font-size: 25px;
	letter-spacing: 0px;
	margin: 0px 0px 0px;
	padding: 10px 5px;
	line-height: 35px;
}
.wrapper .main_container .content h2{
	color: #333333;
	font-size: 20px;
	letter-spacing: 0px;
	margin: 20px 0px 0px;
	padding: 0px 0px;
	line-height: 25px;
}
.wrapper .main_container .content h3{
	color: #333333;
	font-size: 15px;
	letter-spacing: 0px;
	margin: 20px 0px 0px;
	padding: 0px 0px;
	line-height: 15px;
}
.wrapper .main_container .content img{
	background-size: 100% auto;
	width: 100%;
	margin: 10px auto;
	display: block;
}

.wrapper .main_container .content img.img_auto{
	width: auto;
}
.wrapper .main_container .content img.normal_size{
	display: block;
	background-size: 100% auto;
	width: 40%;
}
.wrapper .main_container .content .videoWrapper {
    height: 0;
    margin: 30px 0;
    padding-bottom: 56.25%;
    padding-top: 25px;
    position: relative;
}
.wrapper .main_container .content .videoWrapper iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.wrapper .main_container .content p{
	color: #0f0f0f;
	font-size: 15px;
	margin: 20px 0px;
	padding: 0;
	line-height: 22px;
}
.wrapper .main_container .content ul{
	margin: 20px 0px;
}

.wrapper .main_container .product-left-inner{
    padding: 0px 20px;

}

.wrapper .main_container .product-left {
    width:30%;
    float:left;
}
.wrapper .main_container .product-right {
    width:70%;
    float:right;
}

.wrapper .main_container .product-right-inner{
    padding: 0px 20px;
    float:right;
}

.wrapper .main_container .content ul li{
	list-style: none;

	background-size: 20px auto;
	background-repeat: no-repeat;
 	background-position: left top;
 	padding: 0px 0px 0px 30px;
 	margin: 10px 0px;
 	color: #262626;
}


.wrapper .main_container .content .center {
    text-align: center; 
    width: 100%; 
}
.wrapper .main_container .content .center iframe {
    width: 70%;
    height: 315px; 
}


.wrapper .main_container .content .caption{
	font-size: 20px;
	text-align: center;
	margin: 5px 0px;
	font-family: "Georgia","Book Antiqua",Palatino,serif;
	font-style: italic;
}
.wrapper .main_container .content .little_box{
	display: block;
	margin: 20px 0px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 10px 0px;
}
.wrapper .main_container .content .little_box p{
	display: block;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	font-size: 13px;
	line-height: 18px;
}
.wrapper .main_container .content ul{
	margin: 10px 0px;
	padding: 0px;
}
.wrapper .main_container .content ul li{
	list-style: none;
	font-weight: bold;
}
.wrapper .main_container .content .box1_inner{
	border: 1px solid	#000;
	border-left: none;
	border-right: none;
	padding: 0px;
	margin: 50px 0px;
}
.wrapper .main_container .content .box1_inner p{
	font-size: 13px;
	line-height: 18px;
	font-style: italic;
}
.wrapper .main_container .content .grey_box{
	width: 100%;
	background-color: #cccccc;
	margin: 20px auto;
}
.wrapper .main_container .content .grey_box .gb_inner{
	padding: 20px;
}
.wrapper .main_container .content .grey_box .gb_inner h2{
	margin: 0;
	padding: 0;
}
.wrapper .main_container .content .grey_box .gb_inner .pic{
	display: inline-block;
	vertical-align: top;
	*display: inline;
	zoom: 1;
	width: 25%;
	margin: 20px 0px;
}
.wrapper .main_container .content .grey_box .gb_inner .pic img{
	display: block;
	width: 100%;
	background-size: 1005 auto;
}
.wrapper .main_container .content .grey_box .gb_inner .text{
	display: inline-block;
	vertical-align: top;
	*display: inline;
	zoom: 1;
	width: 70%;
	margin: 20px 0px 0px 20px;
}
.wrapper .main_container .content .grey_box .gb_inner .text p{
	padding: 0;
	margin: 0px 0px 10px;
	font-size: 13px;
}

/******************Product box****************************/
.wrapper .main_container .content .product-inner {
    border: 2px dashed red; 
    padding-bottom: 20px;
}

.wrapper .main_container .content .product-inner .pro-title {
    text-align: center; 
}
.wrapper .main_container .content .product-inner .pro-title h1{
    background-color: grey;
}
.wrapper .main_container .content .product-inner .pro-offer {
    width: 100%; 
}
.wrapper .main_container .content .product-inner .po-img  {
    width: 35%;
    display: inline-block;
    
}
.wrapper .main_container .content .product-inner .po-text  {
    width: 60%; 
    display: inline-block;
    vertical-align: top;
    
}
.wrapper .main_container .content .product-inner .po-text .button {
        background-color:#1a4b76; 
        padding: 10px 20px;
    border-radius: 30px;
    color: white; 
}





/****************** End of product box****************************/



/*********** Content End ************************/
/*********** Sidebar ************************/
.wrapper .main_container .sidebar{
	display: inline-block;
	vertical-align: top;
	*display: inline;
	zoom: 1;
	width: 29%;
	min-height: 100px;
	margin-top: 0px;
	margin-bottom: 30px;
}
.wrapper .main_container .sidebar img{
	display: block;
    background-size: 100% auto;
    width: 100%;
    margin: 20px auto 10px;
}
.wrapper .main_container .sidebar p{
	margin: 0;
	padding: 0;
	font-size: 15px;
	font-style: italic;
	line-height: 22px;
    font-weight: normal;
    text-align: left;
}
.wrapper .main_container .sidebar h3{
	font-size: 15px;
	margin: 2px 0px 2px 0px;
	padding: 0;
	font-style: italic;
    text-align: left;
}
.wrapper .main_container .sidebar .baa{
	margin: 20px 0px 0px;
	padding: 0;
}
.wrapper .main_container .sidebar .title,
.wrapper .main_container .sidebar .baa .title{
	border-bottom: 2px solid #ef3829;
}
.wrapper .main_container .sidebar .title h1,
.wrapper .main_container .sidebar .baa .title h1{
	margin: 0;
	padding: 0;
	font-size: 22px;
	color: #666;
	text-transform: uppercase;
}
.wrapper .main_container .sidebar .baa img{
	display: block;
	background-size: 100% auto;
	width: 100%;
	margin: 20px auto 10px;
}
.wrapper .main_container .sidebar .baa p{
	margin: 0;
	padding: 0;
	font-size: 13px;
	font-style: italic;
	line-height: 22px;
}
.wrapper .main_container .sidebar .baa h3{
	font-size: 13px;
	margin: 0;
	padding: 0;
}
/*********** Sidebar End ************************/

/*Bottom*/
.wrapper .main_container .bottom{
	/*min-height: 100px;
	margin: 20px 0px;
	padding: 0px 20px;*/
	/*width: 100%*/
}
.wrapper .main_container .bottom img{
	background-size: 100% auto;
	width: 100%;
	display: block;
	margin: 10px auto;
}
.wrapper .main_container .bottom h1{
	color: #ef3829;
	font-size: 20px;
	text-align: center;
	font-weight: bold;
	margin: 0;
	padding: 0;
}
.wrapper .main_container .bottom p{
	color: #0f0f0f;
	font-size: 15px;
	margin: 0px 0px;
	padding: 0;
	line-height: 22px;
}
.wrapper .main_container .bottom p span{
	color: #ff0000;
}
.wrapper .main_container .bottom .offer_box{
	border: 1px dotted #000;
	padding: 10px;
	margin: 20px 0px 30px;
	width: 100%;
}
.wrapper .main_container .bottom .offer_box img{
	display: inline-block;
	vertical-align: top;
	*display: inline;
	zoom:1;
	background-size: 100% auto;
	width: 20px;
	margin: 0;
}
.wrapper .main_container .bottom .offer_box p{
	color: #0f0f0f;
	font-size: 15px;
	margin: 0px 0px;
	padding: 0;
	display: inline-block;
	vertical-align: top;
	*display: inline;
	zoom:1;
}
.wrapper .main_container .bottom p span{
	color: #ff0000;
	font-weight: bold;
}
.wrapper .main_container .content .bottom .product_box{
	/*border: 1px solid #dddddd;*/
	min-height: 50px;
	padding: 20px;
	margin: 20px 0px;
	width:100%;
	box-shadow: 0 0 10px 0 #ddd;
}
.wrapper .main_container .content .bottom .product_box h1{
	margin: 10px 0px;
	padding: 0;
	font-size: 20px;
	color: #333333;
	text-align: left;
}
.wrapper .main_container .content .bottom .product_box h1 span{
	text-decoration: none;
	color: #ff0000;
}
.wrapper .main_container .content .bottom .product_box .product-img{
	display: inline-block;
	vertical-align: top;
	*display: inline;
	zoom: 1;
	width: 30%;
}
.wrapper .main_container .content .bottom .product_box .p_box2{
	display: inline-block;
	vertical-align: top;
	*display: inline;
	zoom: 1;
	width: 68%;
	margin: 0px 0px 0px 10px;
}
.wrapper .main_container .content .bottom .product_box .p_box2 .order_button{
	display: block;
	width: 300px;
	height: 50px;
	background-repeat: no-repeat;
	background-image: url(d1fae387151fc0d6d139eea1e70a1cd6/css/3e68bbbf6263014351e067fb120a640c.png);
	margin: 30px 0px 20px 0px;
}

/* SIDE BOX */
.wrapper .main_container .sidebar .side_box .side_redbox {
    display: block;
    padding: 10px 10px;
    text-align: center;
    color: #fff;
    background-color: #1a4b76;
}
.wrapper .main_container .sidebar .side_box {
    display: block;
    background-color: #fff;
    border: 1px solid #1a4b76;
}
.wrapper .main_container .sidebar .side_box .product_wrapper {
    display: block;
    margin: 20px 0px;
}

.wrapper .main_container .sidebar .side_box .product_wrapper .product_box {
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    width: 100%;
}
.wrapper .main_container .sidebar .side_box .product_wrapper .product_box .prod_img {
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    width: 34%;
}
.wrapper .main_container .sidebar img {
    display: block;
    background-size: 100% auto;
    width: 100%;
    margin: 20px auto 10px;
}
.wrapper .main_container .sidebar .side_box .product_wrapper .product_box .prod_desc {
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    width: 64%;
}
.wrapper .main_container .sidebar .side_box .product_wrapper .product_box .prod_button {
    display: block;
    background-image: url(d1fae387151fc0d6d139eea1e70a1cd6/css/50af42c07e02867844346347cafa13d8.png);
      width: 87%;
    height: 80px;
    margin: 10px auto;
}
/*Bottom End */

/******************************** Facebook ******************************/
.wrapper .facebook{
	width: 100%;
	margin: 20px 0px;
}
.wrapper .facebook .top_facebook{
	color: #475995;
	font-size: 12px;
	font-weight: bold;
	padding: 0px 25px;
}
.wrapper .facebook .top_facebook .box1,
.wrapper .facebook .top_facebook .box2{
	display: inline-block;
	vertical-align: top;
	*display: inline;
	zoom: 1;
	width: 45%;
}
.wrapper .facebook .top_facebook .box2{
	text-align: right;
	padding-right: 20px;
}
.wrapper .facebook .top_facebook .box2{
	font-size: 14px;
}
.wrapper .facebook .fb_comments{
	margin: 0 auto;
	padding: 15px 0px 15px 0px;
	border-bottom: 1px solid #cacaca;
	width: 95%;
}
.wrapper .facebook .fb_comments .prof_pic{
	display: inline-block;
	vertical-align: top;
	*display: inline;
	zoom: 1;
	width: 6%;
	margin: 0px 0px 0px 5px;
	padding: 0px 0px 0px 0px;
}
.wrapper .facebook .fb_comments .prof_pic2{
	display: inline-block;
	vertical-align: top;
	*display: inline;
	zoom: 1;
	width: 7%;
	margin: 0px 0px 0px 5px;
	padding: 0px 0px 0px 0px;
}
.wrapper .facebook .fb_comments .comments_inner{
	display: inline-block;
	vertical-align: top;
	*display: inline;
	zoom: 1;
	width: 88%;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	font-size: 11px;
}
.wrapper .facebook .fb_comments .comments_inner h1{
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	font-size: 12px;
	color: #475995;
}
.wrapper .facebook .fb_comments .comments_inner p{
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}
.wrapper .facebook .fb_comments .comments_inner ul{
	margin: 5px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}
.wrapper .facebook .fb_comments .comments_inner ul li{
	margin: 0px 0px 0px 10px;
	padding: 0px 0px 0px 0px;
	list-style: none;
	display: inline-block;
	color: #475995;
}
.wrapper .facebook .fb_comments .comments_inner ul li.min{
	color: #898989;
}
/******************************** Facebook End ******************************/



/* Main Container End*/

.burgernav
{
    color: #fff;
    margin-top: 15px;
		display: inline-block;
		margin-top: 10px;
		float: right;
		text-align: right;
}
@media screen and (max-width: 768px) {
#top.fn .social
    { display: none;}
    #top.fn>div {
    width: 90%;
    max-width: 1170px;
    margin: auto;
    padding: 10px;
    text-align: center;
    }
	#top.fn .logo {

    margin: 0;
		width: 250px;
		/*margin-: 30px;*/
    display: inline-block;
		margin-top: 10px;
		text-align: left;
		/*text-indent: -9999px;*/
        /*float: none;*/
}
#top.fn .logo img {
}
#top.fn {
    /*height: 120px;*/
		padding: 0;
}

    nav ul {

    display: none;

    }
    .wrapper .main_container .content .center iframe {
       width: 100%; 
        height: 215px; 
    }
    
    .wrapper .main_container .content .product-inner .po-img {
        width: 100%;}
    
    .wrapper .main_container .content .product-inner .po-text {
        width: 100%; 
        text-align: center; 
    }
  
    
    
    
}

@media screen and (min-width: 769px) {
    .burgernav {
        display: none;
    }
}

/* CLEARFIX */

.clearfix:before,
.clearfix:after {
    content:"";
    display:table;
}
.clearfix:after {
    clear:both;
}
/* For IE 6/7 (trigger hasLayout) */
.clearfix {
    zoom:1;
}

.navbar {
    margin-bottom: 0;
	
}

.navbar-default {
    background-image: none;
    border-radius: 0;
    border: none;
    background: #FFFFFF;
}

.navbar-brand {
    padding: 2px 10px;
}

    .navbar-brand img {
        width: 150%;
        max-width: 150px;
    }

.navbar-nav {
    float: left;
}

    .navbar-nav > li {
        text-align: center;
    }

.navbar-default .navbar-nav > li > a {
    font-family: Arial;
    text-shadow: none;
    color: #333333;
    font-size: 13px;
	font-weight: bold;
}

    .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
        text-shadow: 0px 2px 2px #777;
        color: #fff;
    }

@media only screen and (max-width: 767px) {
    .navbar-nav {
        display: block;
        width: auto;
        float: none;
    }

        .navbar-nav > li {
            display: block;
        }

    .navbar-default .navbar-toggle {
        border-color: #000;
        background: transparent;
        color: #000;
        float: right;
    }

        .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
            background: transparent;
            color: #fff;
            border-color: #fff;
        }

    .navbar-header {
        text-align: center;
    }

    .navbar-brand {
        padding: 5px 10px;
        margin: 0 auto;
        display: block;
		float: left;
        width: 120px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .navbar-default .navbar-nav > li > a {
        font-size: 16px;
        padding: 15px 8px;
    }
}

.footer {
	background: #ccc !important;
	font-size: 14px !important;
	margin: 15px 0 !important;
	padding: 15px !important;
	text-align: center !important;
}

.scroll-bar {
	display: none;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 8px 10px;
	color: #fff;
	background: #3ab349;
	font-size: 16px;
	text-align: center;
	font-weight: 700;
}