.cr-ui-image{
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;}
	
.cr-ui-image  .overlay{
	background-color:#000;
	bottom:0;
	height:100%;
	left:0;
	position:absolute;
	right:0;
	top:0;
	width:100%;}
	.cr-ui-image .ui-image-title{
		position:relative;
		z-index: 2;}

.cr-ui-image .ui-image-title .cr-ui-container,	
.cr-ui-image .ui-image-title .cr-ui-row,
.cr-ui-image .ui-image-title .cr-ui-col-12{height:100%;}
.cr-ui-image .ui-image-title .image-content{
	display:flex;
	flex-direction:column;
	height: 100%;
	justify-content:center;
    position: relative;}
	
  
@media only screen and (min-width: 768px) {
	.cr-ui-image .ui-image-title{
		bottom:0;
		height:100%;
		left:0;
		position:absolute;
		right:0;
		top:0;
		width:100%;
		z-index: 2;}
	}
