.badge-healthline {
    left: 12px;
    top: 14px;
    width: 100px;
    z-index: 2;
}

.template-product .badge-healthline {
    left: unset;
    right: 12px;
}

.badge-healthline svg {
    height: auto;
    max-width: 100%;
}

#rc_login,
.rc_container_wrapper {
    display: none!important;
}

li.rebuy-cart__flyout-item.property-value-byob.property-bundle\:byob .rebuy-cart__flyout-item-subscription {
    display: none;
}

li.rebuy-cart__flyout-item.property-value-byob.property-bundle\:byob .rebuy-cart__flyout-item-quantity {
    pointer-events: none;
    opacity: .4;
}

.is-visible .rebuy-cart__flyout {
    z-index: 2147483647;
}

body.product-thc-gummies {
    background: #ede3d3;
}

body.product-thc-gummies .image-wrap {
    background: transparent;
}

body.product-thc-gummies #rebuy-widget-107349 .rebuy-product-options select {
    background: #919191;
    border: none;
}

body.product-thc-gummies .page-content--product {
    padding-bottom: 0;
}

body.paid-lander-berrybreez .js-drawer-open-nav,
body.paid-lander-berrybreez .site-nav__icons,
body.paid-lander-berrybreez .header-item--split-left,
body.paid-lander-berrybreez .header-item--split-right,
body.paid-lander-berrybreez .js-drawer-open-cart,
body.paid-lander-berrybreez .js-search-header {
    display: none;
}

body.paid-lander-berrybreez .product-dosage.thc {
    padding-top: 40px;
    padding-bottom: 40px;
}

body.paid-lander-berrybreez .collection-thc-reviews,
body.paid-lander-berrybreez .collection-thc-slider,
body.paid-lander-berrybreez .collection-thc-review-header {
    background: #ede3d3;
}

body.paid-lander-berrybreez .collection-thc-slider {
    padding: 20px 0;
}

body.paid-lander-berrybreez .collection-thc-reviews {
    margin-top: -10px;
}

body.paid-lander-berrybreez .collection-thc-review-header__heading .super-title {
    padding-bottom: 20px;
}

.product-section {
    background: #ede3d3;
}

.product-main-slide .image-wrap {
    background: #fcf8f1;
}

.product-main-slide:not(.is-selected) {
    visibility: hidden;
}

.page-content--product .product__photos {
    background: #fcf8f1;
    border-radius: 20px;
    margin-top: 11px;
    padding: 15px;
}

.product-single__meta {
    border-radius: 20px;
    background: #fcf8f1;
    padding: 15px!important;
}

.product-single__meta .product-single__title {
    font-family: Kopius,sans-serif;
    text-transform: none!important;
    font-size: 32px;
    font-weight: 800;
}

div[id*=because_intelligence-banner] {
    margin: auto auto 20px;
}

.variant-input-wrap label.variant__button-label {
    background: #ede3d3;
    border-color: #ede3d3;
    border-radius: 10px;
}

.variant-input-wrap input[type=radio]:checked+label {
    background: #fff;
    border-color: #44382a;
}

label.variant__button-label.extra-strength {
    border-radius: 0 0 10px 10px;
}

.variant-input .variant__badge {
    margin: 0 3px;
    padding-top: 2px;
}

.variant-input-wrap input[type=radio]:checked+label.extra-strength {
    margin: 0 5px 12px;
}

.rtx-subscription-label .pdpLeft {
    align-items: flex-start;
}

.rtx-subscription-label .rtx-subscription-label__inner {
    margin-top: -7px;
}

.pdpContainer .rtx-subscription-label {
    padding: 20px 12px;
    background: #ede3d3;
    border-radius: 10px!important;
    margin-bottom: 16px!important;
}

label.rtx-subscription-label.is-selected {
    background: #fff;
    border-radius: 10px;
    border: 3px solid #44382a;
}

.pdpContainer .rtx-subscription-label__inner>span {
    font-size: 22px;
    font-weight: 700;
}

.rtxPrice.f-16 s {
    font-size: 18px;
    margin-left: 6px;
}

.pdpLeft .rtxPrice {
    display: flex;
    align-items: center;
}

.pdpLeft .rtx-subscription-box.is-visible {
    align-items: flex-start;
    padding: 15px 0 22px;
}

.rightCol,
.subsInfo {
    font-size: 18px;
}

.rtx-subscription .pdpContainer {
    border: none!important;
}

.variant-input-wrap .variant-input label {
    padding: 20px 12px;
}

.payment-buttons button.btn.btn--full.add-to-cart,
button.shopify-payment-button__button.shopify-payment-button__button--unbranded {
    border-radius: 200px;
}

body .variant-wrapper .variant__label {
    display: none;
}

.sales-point .icon-and-text {
    font-weight: 700;
}

.product-icons {
    display: flex;
    justify-content: space-between;
    padding: 0 16px 12px;
    background: #fcf8f1;
    border-radius: 0 0 20px 20px;
}

.product-lifestyle-image.desktop,
.product-testimonial.desktop {
    display: none;
}

.product-testimonial.mobile {
    margin-top: 16px;
    text-align: center;
    padding: 15px 35px 8px;
    border-radius: 20px;
    background: #fcf8f1;
}

.variant-wrapper .variant-input-wrap {
    margin-bottom: 0;
}

@media only screen and (min-width: 769px){
    .product-testimonial.mobile {
        display: none;
    }

    .product-testimonial.desktop {
        margin-top: 16px;
        text-align: center;
        padding: 15px 35px 6px;
        border-radius: 20px;
        background: #fcf8f1;
        display: block;
    }

    .product-lifestyle-image.desktop {
        display: block;
    }

    .product-lifestyle-image.desktop img {
        width: 100%;
        height: auto;
        border-radius: 20px;
        margin-top: 16px;
    }

    body.paid-lander-berrybreez .collection-thc-reviews {
        margin-top: -15px;
    }

    body.paid-lander-berrybreez .collection-thc-slider {
        padding: 40px 0;
    }

    .page-content--product .product__photos {
        margin-top: 0;
    }

    fieldset.variant-input-wrap {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 14px;
        grid-row-gap: 0;
        align-items: flex-end;
        justify-content: center;
    }

    .variant-input-wrap .variant-input,
    .variant-input-wrap .variant-input label {
        width: 100%;
    }

    [data-center-text=true] .variant-input-wrap label {
        margin: 0!important;
    }
}

@media only screen and (min-width: 992px){
    body.paid-lander-berrybreez .product-dosage.thc {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    body.paid-lander-berrybreez .collection-thc-review-header__heading .super-title {
        padding-bottom: 60px;
    }

    [data-center-text=true] .variant-input-wrap label {
        box-shadow: 0 0 0 2px transparent;
    }

    [data-center-text=true] .variant-input-wrap label.variant__button-label.extra-strength {
        box-shadow: 0 0 0 2px #ede3d3;
    }

    .variant-input .variant__badge {
        margin: 0;
        box-shadow: 0 0 0 2px var(--colorTextBody);
    }

    .variant-input-wrap input[type=radio]:checked+label {
        box-shadow: 0 0 0 2px var(--colorTextBody)!important;
    }
}

@media only screen and (min-width: 1200px){
    body.paid-lander-berrybreez .collection-thc-review-header__heading {
        padding-top: 20px;
    }

    body.paid-lander-berrybreez .collection-thc-slider {
        padding: 60px 0 40px;
    }

    div[data-product-blocks] {
        position: relative;
    }

    .rtx-subscription-label .pdpLeft {
        align-items: flex-start;
        position: relative;
    }

    span.rtxPrice.f-16 {
        position: absolute;
        right: 7px;
        top: -7px;
    }

    .pdpContainer .rtx-subscription-label {
        padding: 20px 12px 15px;
    }

    div[data-product-blocks] .shopify-block.shopify-app-block {
        position: relative;
    }

    div[data-product-blocks] .shopify-block.shopify-app-block .yotpo-widget-instance {
        position: absolute;
        right: 0;
        margin-top: 5px;
    }

    .product-block-price-flexdiv1 .savings {
        font-size: 16px;
    }

    .pdpLeft .rightCol,
    .pdpLeft .rtx-subscription-box.is-visible {
        width: 100%;
    }

    .pdpLeft .rtx-subscription-box select[name=selling_plan] {
        width: 100%;
        font-size: 18px;
    }

    .product-single__meta {
        padding: 42px!important;
    }

    .sales-points-container {
        display: flex;
        align-items: center;
        width: 100%;
        place-content: space-around;
        margin-bottom: 20px;
    }

    .sales-points-container .sales-points {
        margin: 0;
    }

    .sales-points-container .product-block--sales-point+.product-block--sales-point {
        margin-top: 0;
    }

    .sales-points-container .product-block.product-block--sales-point {
        margin-bottom: 0;
    }

    .product-single__meta .product-single__title {
        font-size: 38px;
    }

    .product-icons {
        padding: 10px 44px 24px;
        gap: 35px;
    }

    .product-icons .product-icon-img {
        width: 100px;
        height: auto;
    }

    .product-testimonial.desktop {
        padding: 26px 68px 15px;
    }

    .variant-wrapper .variant-input-wrap {
        margin: 13px 0 17px;
    }
}

.filter-form .collapsible-trigger-btn {
    font-family: Poppins,sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1;
    letter-spacing: .81px;
    padding-top: 14px;
    padding-bottom: 14px;
}

.filter-form .collection-sidebar__group .collapsible-trigger-btn {
    margin-bottom: 0;
}

.filter-form .collapsible-trigger-btn.is-open .collapsible-trigger__icon--open {
    opacity: 0;
}

.filter-form .collapsible-content__inner {
    margin-top: 20px;
}

.filter-form .collapsible-trigger-btn .collapsible-trigger__icon {
    width: 28px;
    height: 28px;
    padding: 4px;
}

.filter-form .collapsible-trigger-btn .icon {
    width: 100%;
    height: 100%;
}

.filter-form .filter-form__title {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-family: Poppins,sans-serif;
}

.filter-form .tag {
    margin-bottom: 20px;
    font-size: 16px;
}

.filter-form .tag__checkbox {
    padding-left: 44px;
}

.filter-form .tag__checkbox:before {
    width: 32px;
    height: 32px;
    border-radius: 8px;
    border-color: var(--colorAlternateText);
}

.filter-form .tag__checkbox:after {
    height: 14px;
    width: 14px;
    left: 9px;
    background-image: url(../images/checkmark.svg);
    opacity: 0;
    background-color: transparent;
}

.filter-form .tag--active .tag__checkbox:before {
    background-color: var(--colorAlternateText);
}

.filter-form .tag--active .tag__checkbox:after {
    opacity: 1;
    background-color: transparent;
}

.filter-form .tag__checkbox-wrapper {
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: .68px;
    font-family: Roboto,sans-serif;
}

.filter-form .tag--active .tag__checkbox-wrapper {
    font-weight: 800;
}

body.product-blood-orange {
    background: #ede3d3;
}

[data-rebuy-component=cart-subtotal] {
    flex-direction: column;
}
